 *{margin:0;
 padding:0;
 }


 #esquerda h1{
	  font-size:55px;
	  color:red;
  }
  
  #esquerda {
	  font-size:30px;
  }
  #esquerda img{
	  width:500px;
	  height:200px;
	  
	 
	  
	  
  }
  
  #direita1  {
	  width:500px;
	  height:200px;
	  float:right;
	  
	  
	  
  }
  #direita2 {
	  width:500px;
	  height:200px;
		
	  
	  
  }